*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 24px;
}

body {
    background-color: #ededed;
}

button {
    padding: 10px 20px;
    width: 100%;
    border-radius: 16px;
    border-style: 1px solid black;
}

button:hover,
input:hover {
    cursor: pointer;
}

input[type='color'] {
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 50px;
}

button.active {
    background-color: #333;
    color: #ededed;
}

.grid-item {
    user-select: none;
}

#container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1100px;
    gap: 100px;
    margin: 0 auto;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 200px;
}

#grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: #fff;
}

@media (max-width: 1200px) {
    #container {
        justify-content: center;
    }
}

@media (max-width: 850px) {
    #container {
        gap: 50px;
    }

    #grid-container {
        width: 400px;
        height: 400px;
    }

    #controls {
        width: 150px;
        gap: 16px;
    }
}

@media (max-width: 650px) {
    #container {
        flex-direction: column-reverse;
        gap: 18px;
    }

    #grid-container {
        width: 300px;
        height: 300px;
    }
}